<div class="detail_">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 details">
        <div class="img">
          <img [src]="coinData?.image?.large" alt=""><h3 class="text-center" style="font-size: 23px;">{{coinData?.name}}</h3>
          <h2 [innerHtml]="coinData?.description?.en.split('.')[0]"></h2>
          <div class="more-details">
            <span class="title">Rank : </span><span class="value">{{coinData?.market_cap_rank}}</span><br>
            <span class="title">currency Price :</span> <span class="value">{{coinData?.market_data.current_price.inr | currency }}</span> <br>
              <span class="title">Market Cao :</span> <span class="value">{{coinData?.market_data.market_cap.in | currency }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <canvas style="width: 300px;" baseChart [data]="lineChartData"  [options]="linearChartOptions" [type]="lineChartType"></canvas>
      </div>
    </div>
  </div>
</div>

